---
import { getCollection } from 'astro:content';
import readingTime from 'reading-time';

import ArticleListing from '@/components/article-listing.astro';

const posts = await getCollection('articles');

const postsRT = posts
	.map((post) => ({
		...post,
		readingTime: post.body ? readingTime(post.body).text : undefined,
	}))
	.sort(
		(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
	);
---

<ul class="article__list">
	{
		postsRT.map((post) => (
			<li>
				<ArticleListing
					href={`/articles/${post.id}`}
					title={post.data.title}
					description={post.data.description}
					publishDate={post.data.publishDate}
					readingTime={post.readingTime}
				/>
			</li>
		))
	}
</ul>
<style>
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		gap: var(--space-m);
	}

	li {
		width: 100%;
		margin: 0;
	}
</style>
