---
import { Image } from 'astro:assets';
import ArticleMeta from './article-meta.astro';

interface Props {
	title: string;
	publishDate: Date;
	image: string;
	subtitle?: string;
}

const { publishDate, title, subtitle, image } = Astro.props;
---

<header>
	<div>
		<h1 class="post__title">{title}</h1>
		{subtitle ? <p>{subtitle}</p> : null}
		<ArticleMeta publishDate={publishDate} />
	</div>
	<picture>
		<Image 
			src={image} 
			alt={`${title} post image`}
			inferSize={true}
			loading={'eager'}
		/>
	</picture>
</header>

<style>
	header {
		width: 100%;
		padding: var(--space-5xl) 0;
		position: relative;
	}

	div {
		width: 100%;
		margin: 0 auto;
		max-width: var(--max-inner);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: var(--space-xs);
		position: relative;
		z-index: 1;
	}

	h1 {
		text-align: center;
		margin: 0;
	}

	p {
		margin: 0;
		text-align: center;
	}

	picture{
		position: absolute;
		top: var(--space-l);
		left: 0;
		height: calc(100% - calc(var(--space-l) * 2));
		width: 100%;
		border-radius: var(--space-m);
		overflow: hidden;
		z-index: 0;
	}

	picture::after{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.75);
	}

	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
</style>
