---
import { Image } from 'astro:assets';
import ArticleMeta from './article-meta.astro';
import ButtonIcon from './button-icon.astro';

type Link = {
	icon: string;
	href: string;
	text: string;
};

interface Props {
	title: string;
	publishDate: Date;
	image: string;
	subtitle?: string;
	links?: Link[];
}

const { publishDate, title, subtitle, image, links } = Astro.props;
---

<header>
	<div>
		<h1>{title}</h1>
		{subtitle ? <p>{subtitle}</p> : null}
		<ArticleMeta publishDate={publishDate} />
	</div>
	<ul>
		{
			links?.map((link) => (
				<li>
					<ButtonIcon
						icon={link.icon}
						text={link.text}
						href={link.href}
					/>
				</li>
			))
		}
	</ul>
	<picture>
		<Image
			src={image}
			alt={`${title} post image`}
			inferSize={true}
			loading={'eager'}
		/>
	</picture>
</header>
<style>
	header {
		width: 100%;
		position: relative;
		height: var(--hero);
		display: grid;
		grid-template-rows: 1fr fit-content(41.5px);
		padding: var(--space-l);
		box-sizing: border-box;
		gap: var(--space-l);
	}

	div {
		width: 100%;
		margin: 0 auto;
		max-width: var(--max-inner);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex-wrap: wrap;
		gap: var(--space-xs);
		position: relative;
		z-index: 1;
	}

	ul {
		padding: 0;
		list-style-type: none;
		flex-direction: row;
		width: 100%;
		margin: 0 auto;
		max-width: var(--max-inner);
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: var(--space-xs);
		position: relative;
		z-index: 1;
	}

	h1 {
		text-align: center;
		margin: 0;
	}

	p {
		margin: 0;
		text-align: center;
	}

	picture {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border-radius: var(--space-m);
		overflow: hidden;
		z-index: 0;
	}

	picture::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.75);
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
</style>
